<div class="flex">
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload">
    {{fileName || "Brak pliku"}}
    <button mat-mini-fab color="primary" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
    </button>

    <button mat-mini-fab color="warn" class="delete-btn" (click)="onDeleteFile()"  [disabled]="file==null ">
      <mat-icon>delete_forever</mat-icon>
  </button>
  </div>
</div>

<div class="flex margin">
  <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="upload()">
    Upload bez szyfrowania
  </button>
  <button mat-raised-button color="primary" [disabled]="((fileUploaded$ | async) === false) || (loading$ | async)" (click)="download()">
    Pobierz plik z serwera
  </button>
</div>

<div class="algorithms">
  
  <mat-card class="actions">
    <mat-card-header class="flex">
      <mat-card-title>AES256</mat-card-title>
    </mat-card-header>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="encrypt('0')">
      Szyfrowanie całościowe
    </button>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="streamEncrypt('0')">
      Szyfrowanie strumieniowe
    </button>

    <hr>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="decrypt('0')">
      Deszyfrowanie całościowe
    </button>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="streamDecrypt('0')">
      Deszyfrowanie strumieniowe
    </button>

  </mat-card>

  <mat-card class="actions">
    <mat-card-header class="flex">
      <mat-card-title>RSA2048</mat-card-title>
    </mat-card-header>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="encrypt('1')">
      Szyfrowanie całościowe
    </button>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="streamEncrypt('1')">
      Szyfrowanie strumieniowe
    </button>
    
    <hr>

    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="decrypt('1')">
      Deszyfrowanie całościowe
    </button>
    
    <button mat-raised-button color="primary" [disabled]="loading$ | async" (click)="streamDecrypt('1')">
      Deszyfrowanie strumieniowe
    </button>
  </mat-card>

</div>
