.file-input {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.margin {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.algorithms {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    &:last-of-type {
        margin-top: 30px;;
    }
}

.actions {
    width: 40%;
    button {
        display: block;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.delete-btn {
    margin-left: 10px;
}

